<!DOCTYPE HTML>
<html>
<head>
  <link type = "text/css" rel = "stylesheet" href = "/stylesheets/application.css">
  <title>TicTacToe</title>
</head>
<body>
  <%= yield %>
  <script type = "text/javascript" src = "/javascripts/jquery.js"></script>
  <script type = "text/javascript" src = "/javascripts/UI.js"></script>
  <script type = "text/javascript" src = "/javascripts/Human.js"></script>
  <script type = "text/javascript" src = "/javascripts/Computer.js"></script>
  <script type = "text/javascript" src = "/javascripts/Game.js"></script>
  <script type = "text/javascript" src = "/javascripts/tictactoe.js"></script>
</body>
</html>
