<div class = "main"> Tic-Tac-Toe <br><br>
  <button type = "button" class = "btn-start">Start Game</button>
</div>
<div class = "menu">
  <button type = "button" class = "player">1 Player</button><br>
  <button type = "button" class = "players">2 Players</button>
</div>
<div class = "playerMark">
  <p>Choice a mark you want.</p>
  <button type = "button" id = "Xmark">X</button>
  <button type = "button" id = "Omark">O</button>
</div>
<div class = "game">
  <div class = "message">
    <h1 id = "Computer">Please wait until computer choice..</h1>
    <h1 id = "Human">Click a spot you want.</h1>
  </div>
  <div class = "Board">
    <table>
      <tbody>
        <tr>
          <td id = "0"></td>
          <td id = "1"></td>
          <td id = "2"></td>
        </tr>
        <tr>
          <td id = "3"></td>
          <td id = "4"></td>
          <td id = "5"></td>
        </tr>
        <tr>
          <td id = "6"></td>
          <td id = "7"></td>
          <td id = "8"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class = "buttons">
    <button type = "button" class = "btn-new">New Game</button>
    <button type = "button" class = "btn-restart">Restart Game</button>
  </div>
</div>